
*.tsv
test.ipynb
.ipynb_checkpoints/EDA_G-checkpoint.ipynb
EDA_G_mito.ipynb
.ipynb_checkpoints/test-checkpoint.ipynb
.ipynb_checkpoints/EDA_G_mito-checkpoint.ipynb
workspace.code-workspace
.vscode/settings.json

Guillaume/test_jl.ipynb
Guillaume/test_gitignore.py
Catherine/Catherine_analyse db.ipynb
.DS_Store
